*.pyc
.swp
*~
__pycache__
.DS_Store
output.log
IPESS_D_3_chi_40_checkpoint.p
charge_IPESS_J0.0_JD1.0_D3.mat
charge_IPESS_J1.0_JD0.0_D3.mat
IPESS_D_3_chi_20_checkpoint.p
IPESS_J0.0_JD1.0_D3_chi20_checkpoint.p
IPESS_J0.0_JD1.0_D3_chi_20.mat
IPESS_J0.0_JD1.0_D4_chi20_checkpoint.p
IPESS_J1.0_JD0.0_D3_chi_20.mat
IPESS_J1.0_JD1.0_D3_chi20_checkpoint.p
IPESS_J1.0_JD1.0_D3_chi_20.mat
IPESS_J1.0_JD2.0_D3_chi20_checkpoint.p
IPESS_J1.0_JD2.0_D3_chi_20.mat
IPESS_D_3_chi_20.json
IPESS_D_3_chi_40.json
IPESS_J0.0_JD1.0_D3_chi20.json
IPESS_J0.0_JD1.0_D4_chi20.json
IPESS_J1.0_JD1.0_D3_chi20.json
IPESS_J1.0_JD2.0_D3_chi20.json
laptop.log
PC.log
IPEPS_J1.0_JD0.0_D3_chi20_2021_12_06_20_17.out
IPESS_D_3_chi_10.json
IPESS_D_3_chi_15.json
IPESS_D_3_chi_15_checkpoint.p
charges_J0_JD1.sh
IPESS_D_3_chi_51.json
IPESS_D_4_chi_20.json
IPESS_D_4_chi_20_checkpoint.p
IPESS_D_3_chi_50.json
IPESS_D_5_chi_20.json
IPESS_D_5_chi_40.json
IPESS_D_5_chi_40_checkpoint.p
test3.sh
IPESS_D_5_chi_20_checkpoint.p
data_opt/test_D_3.sh
data_opt/test_D_5.sh
data_opt/test_D_6.sh
IPESS_J0.0_JD1.0_D5_chi20.json
data_opt/test_speed/test1/IPESS_D_6_gpu.sh
data_opt/test_speed/test1/IPESS_D_6.sh
data_opt/test_D_4.sh
examples/abelian/charge_IPESS_J1.0_JD0.02_D2.mat
examples/abelian/charge_IPESS_J1.0_JD0.02_D3.mat
examples/abelian/charge_IPESS_J1.0_JD0.02_D4.mat
examples/abelian/charge_IPESS_J1.0_JD0.02_D5.mat
examples/abelian/charge_IPESS_J1.0_JD0.02_D6.mat
examples/abelian/IPESS_J1.0_JD0.02_D2.json
examples/abelian/IPESS_J1.0_JD0.02_D3.json
examples/abelian/IPESS_J1.0_JD0.02_D5.json
examples/abelian/IPESS_J1.0_JD0.02_D4.json
examples/abelian/IPESS_J1.0_JD0.02_D6.json
